body {
  background-color: #292828;
}
.section {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 30px;
}
.text h1 {
  width: 600px;
  height: 500px;
  background-image: url(../img/grafite.png);
  -webkit-mask-image: url(../img/text.png);
  mask-image: url(../img/grafite.png);
}
.masked {
  width: 500px;
  height: 500px;
  background-image: url(../img/grafite.png);
  -webkit-mask-image: url(../img/image.png);
  mask-image: url(../img/grafite.png);
}
.text-2 h1 {
  width: 600px;
  height: 500px;
  background-image: url(../img/anime.png);
  -webkit-mask-image: url(../img/text.png);
  mask-image: url(../img/anime.png);
}
.masked-2 {
  width: 500px;
  height: 500px;
  background-image: url(../img/anime.png);
  -webkit-mask-image: url(../img/coracao.png);
  mask-image: url(../img/anime.png);
}
